.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.Navbar{
z-index: 100;
position: relative;
background-color: #000;
}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}

.content2 {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}
.content3 {
  position: fixed;
  flex-flow: column wrap;
  justify-content: space-between;
  z-index: 1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  padding: 20px;
}

.zombie { 
    position: absolute;
    z-index: 0;
    bottom: 119px;
    left: 119px;
    width: 32%;
    padding: 20px;

} 

ul,li
{
list-style-type: none;
}
.Button {
  background:url("") no-repeat;
  cursor:pointer;
  width: 20px;
  height: 20px;
  border: none;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
makeStyles-toolbar-5{
  background-image: "/dc.png";
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pin{
  background:red;
  width:10px;
  height:10px;
  border-radius:100%;
  pointer-events: none;
}